@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/*-------------RESET-----------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

span{
    color: white;
}

/*-------------HEADER----------------------*/

header{
    background-color: #fa8072;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    border-bottom: #4b4b4b 1px solid;
}

header div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

header div .logo{
    padding: 5px;
    color: #4b4b4b;
    border: white;
    border-style: double;
}

header div nav a{
    margin: 5px;
}

header nav{
    padding: 0 10px 10px 10px;
}

header nav ul{
    margin-top: 10px;
    display: flex;
    justify-content: start;
}

header nav ul li{
    margin-top: 10px;
}

header nav ul li a{
    color: #4b4b4b;
    padding: 10px;
    transition: 1s;
}

header nav ul li a:hover{
    color: #fa8072;
    background-color: white;
}
/*-------------MAIN------------------------*/

.hero{
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#fa8072 50%, white);
    width: 100%;
    padding: 0 50px 50px 50px;
}

.hero h2{
    font-size: 100px;
    font-style: italic;
    font-weight: 300;
}

.hero p{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border: white 2px solid;
    border-radius: 10px;
    font-weight: 700;
}

.hero .hero__pages{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero .hero__pages .hero__pages__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #4b4b4b 1px solid;
    margin: 10px;
}

.hero .hero__pages .hero__pages__card a{
    height: 250px;
}

.hero .hero__pages .hero__pages__card h3{
    background-color: #4b4b4b;
    color: #fa8072;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 50px 50px;
}

.categorias .categorias__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.categorias .categorias__titulo{
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    border-bottom: #fa8072 2px solid;
}

.categorias .categorias__list .categorias__list__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fa8072 1px solid;
    margin: 10px;
}

.categorias .categorias__list .categorias__list__card h2{
    font-size: 30px;
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 50px 50px;
}

.productos h2{
    font-size: 60px;
    font-weight: 400;
    font-style: italic;
    border-bottom: #fa8072 2px solid;
}

.productos .productos__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos .productos__container .productos__container__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fa8072 1px solid;
    margin: 10px;
}

.productos .productos__container .productos__container__item h2{
    text-align: center;
    font-size: 15px;
}

.productos .productos__container .productos__container__item a{
    background-color: #fa8072;
    padding: 5px;
    margin: 5px;
}
/*-------------FOOTER----------------------*/

footer{
    background-color: #4b4b4b;
    color: #fa8072;
    display: flex;
    flex-direction: column;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div nav ul li a{
    color: #fa8072;
}

footer p{
    text-align: center;
}